body {
    background-color: rgb(192, 255, 245);
    text-align: center;
    margin: 0px;
}
header {
    border-bottom: solid 2px rgb(230, 123, 164);
    padding: 20px;
    font-size: 32px;
    color: rgb(235, 142, 185);
}
section {
    background: rgb(162, 250, 246);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
p { section {

    color: rgb(182, 255, 249);
}


.img1 {
    width:60%;
}

.TUBATU }
 font-style: italic;
    